<%- include('../compartido/menu/primero') %> 

<h1>FAQ</h1>

<button
    onclick="mensajeAlertar()">
    ALERTAR
</button>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>
