<!DOCTYPE html>
<html>

<head>
    <!-- Configuraciones o Metadatos -->
    <!-- Estilos (CSS)-->
    
    <!-- <link rel="stylesheet" href="http://localhost:3001/css/estilos-generales.css"> -->
    <link rel="stylesheet" href="/css/estilos-generales.css">
</head>

<body>
    <!-- Contenido HTML -->
    <!-- SCRIPTS -->
    <p>Hola <%= nombre%>!</p>
    <script src="/js/logica-general.js"></script>

</body>

</html>





<!-- <raiz>
    <universidad>
        <facultad 
            atributo="valor" 
            propiedad="valor"
            acreditada>
            Sistemas
        </facultad>
        <facultad>Mecánica</facultad>
    </universidad>
    <universidad>
        <facultad></facultad>
        <facultad></facultad>
    </universidad>
</raiz> -->