<%- include('../compartido/menu/menu-component') %>
<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<h1>LOGIN</h1>

<button
    onclick="mensajeAlertar()">
    ALERTAR
</button>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>