<form action="/login" method="POST">
    <label for="usuarioID">Usuario: </label>
    <input id="usuarioID"
           type="text"
           name="usuario">
    <label for="ID">Password: </label>
    <input id="passwordID"
           type="password"
           name="password">
    <button type="submit">
        Logearse
    </button>
</form>

